@model ProductModel

<div>
        @if (Model.Specifications.Count > 0)
        {
            <table class="table table-hover">
                <tbody>
                    @{ var i = 0;}
                    @foreach (var specification in Model.Specifications)
                    {
                        <tr>
                            <th class="px-4 px-xl-5 @(i == 0 ? "border-top-0" : "")">@specification.Key</th>
                            <td class="@(i == 0 ? "border-top-0" : "")">@Html.Raw(specification.Value)</td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        }
        else
        {
            <div>No specification yet</div>
        }
</div>