@model ProductModel
<div class="row mb-6">
    <div class="col-md-6">
        <div class="mb-3">
            <h3 class="font-size-18 mb-6">(@Model.ReviewCount) Değerlendirmeye Göre</h3>
            <h2 class="font-size-30 font-weight-bold text-lh-1 mb-0">@Model.Rating.ToString("N2")</h2>
            <div class="text-lh-1">Ortalama Puan</div>
        </div>
        <!-- Ratings -->
        <ul class="list-unstyled">
            <li class="py-1">
                <a class="row align-items-center mx-gutters-2 font-size-1" href="javascript:;">
                    <div class="col-auto mb-2 mb-md-0">
                        <div class="text-warning text-ls-n2 font-size-16" style="width: 80px;">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                        </div>
                    </div>
                    <div class="col-auto mb-2 mb-md-0">
                        <div id="five-star-progress" class="progress ml-xl-5" style="height: 10px; width: 200px;"></div>
                    </div>
                    <div class="col-auto text-right">
                        <span id="five-star" class="text-gray-90">0</span>
                    </div>
                </a>
            </li>
            <li class="py-1">
                <a class="row align-items-center mx-gutters-2 font-size-1" href="javascript:;">
                    <div class="col-auto mb-2 mb-md-0">
                        <div class="text-warning text-ls-n2 font-size-16" style="width: 80px;">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star text-muted"></small>
                        </div>
                    </div>
                    <div class="col-auto mb-2 mb-md-0">
                        <div id="four-star-progress" class="progress ml-xl-5" style="height: 10px; width: 200px;"></div>
                    </div>
                    <div class="col-auto text-right">
                        <span id="four-star" class="text-gray-90">0</span>
                    </div>
                </a>
            </li>
            <li class="py-1">
                <a class="row align-items-center mx-gutters-2 font-size-1" href="javascript:;">
                    <div class="col-auto mb-2 mb-md-0">
                        <div class="text-warning text-ls-n2 font-size-16" style="width: 80px;">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star text-muted"></small>
                            <small class="far fa-star text-muted"></small>
                        </div>
                    </div>
                    <div class="col-auto mb-2 mb-md-0">
                        <div id="three-star-progress" class="progress ml-xl-5" style="height: 10px; width: 200px;"></div>
                    </div>
                    <div class="col-auto text-right">
                        <span id="three-star" class="text-gray-90">0</span>
                    </div>
                </a>
            </li>
            <li class="py-1">
                <a class="row align-items-center mx-gutters-2 font-size-1" href="javascript:;">
                    <div class="col-auto mb-2 mb-md-0">
                        <div class="text-warning text-ls-n2 font-size-16" style="width: 80px;">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star text-muted"></small>
                            <small class="far fa-star text-muted"></small>
                            <small class="far fa-star text-muted"></small>
                        </div>
                    </div>
                    <div class="col-auto mb-2 mb-md-0">
                        <div id="two-star-progress" class="progress ml-xl-5" style="height: 10px; width: 200px;"></div>
                    </div>
                    <div class="col-auto text-right">
                        <span id="two-star" class="text-gray-90">0</span>
                    </div>
                </a>
            </li>
            <li class="py-1">
                <a class="row align-items-center mx-gutters-2 font-size-1" href="javascript:;">
                    <div class="col-auto mb-2 mb-md-0">
                        <div class="text-warning text-ls-n2 font-size-16" style="width: 80px;">
                            <small class="fas fa-star"></small>
                            <small class="far fa-star text-muted"></small>
                            <small class="far fa-star text-muted"></small>
                            <small class="far fa-star text-muted"></small>
                            <small class="far fa-star text-muted"></small>
                        </div>
                    </div>
                    <div class="col-auto mb-2 mb-md-0">
                        <div id="one-star-progress" class="progress ml-xl-5" style="height: 10px; width: 200px;"></div>
                    </div>
                    <div class="col-auto text-right">
                        <span id="one-star" class="text-gray-90">0</span>
                    </div>
                </a>
            </li>
        </ul>
        <!-- End Ratings -->
    </div>
    <div class="col-md-6">
        <h3 class="font-size-18 mb-5">Düşüncelerinizi diğer müşterilerle paylaşın</h3>
        <div class="mb-3">
            @{ var reviewText = "Yorum Yap";
                if (ViewData["ProductReviewer"] != null && (bool)ViewData["ProductReviewer"])
                {
                    reviewText = "Yorumu Düzenle";
                } }
            <a asp-area="" asp-controller="CreateReview" asp-action="@Model.Id" class="btn btn-primary-dark btn-wide transition-3d-hover">@reviewText</a>
        </div>
    </div>
</div>
<!-- Review -->
<div id="review-container"></div>
<!-- End Review -->