@model ProductModel

<div>
    @if (Model.Description != null && Model.Description.Length > 0)
    {
        @Html.Raw(Model.Description)
    }
    else
    {
        <div>No description yet</div>
    }
</div>
