<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] | aspCart</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon/favicon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800&display=swap" rel="stylesheet" />
    <!-- All CSS Flies   -->
    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->
    <!-- <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/ionicons.min.css" /> -->
    <!--===== Plugins CSS (All Plugins Files) =====-->
    <!-- <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/meanmenu.css" />
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel.css" />
    <link rel="stylesheet" href="assets/css/plugins/slick.css" /> -->
    <!--===== Main Css Files =====-->
    <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
    <!-- ===== Responsive Css Files ===== -->
    <!-- <link rel="stylesheet" href="assets/css/responsive.css" /> -->
    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <link rel="stylesheet" href="/assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="/assets/css/responsive.min.css">
</head>
<body>
    <div id="main">
        <!-- Header Start -->
        <header class="main-header">
            <!-- Header Top Start -->
            <div class="header-top-nav">
                <div class="container-fluid">
                    <div class="row">
                        <!--Left Start-->
                        <div class="col-lg-4 col-md-4">
                            <div class="left-text">
                                <p>Welcome you to Ecolife store!</p>
                            </div>
                        </div>
                        <!--Left End-->
                        <!--Right Start-->
                        <div class="col-lg-8 col-md-8 text-right">
                            <div class="header-right-nav">
                                <ul class="res-xs-flex">
                                    <li class="after-n">
                                        <a href="compare.html"><i class="ion-ios-shuffle-strong"></i>Compare (0)</a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>Wishlist (0)</a>
                                    </li>
                                </ul>
                                <div class="dropdown-navs">
                                    <ul>
                                        <!-- Settings Start -->
                                        <li class="dropdown xs-after-n">
                                            <a class="angle-icon" href="#">Settings</a>
                                            <ul class="dropdown-nav">
                                                <li><a href="my-account.html">My Account</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="login.html">Login</a></li>
                                            </ul>
                                        </li>
                                        <!-- Settings End -->
                                        <!-- Currency Start -->
                                        <li class="top-10px first-child">
                                            <select>
                                                <option value="1">USD $</option>
                                                <option value="2">EUR €</option>
                                            </select>
                                        </li>
                                        <!-- Currency End -->
                                        <!-- Language Start -->
                                        <li class="top-10px mr-15px">
                                            <select>
                                                <option value="1">English</option>
                                                <option value="2">France</option>
                                            </select>
                                        </li>
                                        <!-- Language End -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Right End-->
                    </div>
                </div>
            </div>
            <!-- Header Top End -->
            <!-- Header Buttom Start -->
            <!-- Header Buttom Start -->
            <div class="header-navigation d-lg-block d-none">
                <div class="container">
                    <div class="row">
                        <!-- Logo Start -->
                        <div class="col-md-2 col-sm-2">
                            <div class="logo">
                                <a href="index.html"><img src="/assets/images/logo/logo.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!-- Logo End -->
                        <div class="col-md-10 col-sm-10">
                            <!--Header Bottom Account Start -->
                            <div class="header_account_area home-6">
                                <!--Seach Area Start -->
                                <div class="header_account_list search_list">
                                    <a href="javascript:void(0)"><i class="ion-ios-search-strong"></i></a>
                                    <div class="dropdown_search">
                                        <form action="#">
                                            <input placeholder="Search entire store here ..." type="text" />
                                            <div class="search-category">
                                                <select class="bootstrap-select" name="poscats">
                                                    <option value="0">All categories</option>
                                                    <option value="68">
                                                        Electronics
                                                    </option>
                                                    <option value="69">
                                                        - - Accessories &amp; Parts
                                                    </option>
                                                    <option value="75">
                                                        - - - - Cables &amp; Adapters
                                                    </option>
                                                    <option value="76">
                                                        - - - - Batteries
                                                    </option>
                                                    <option value="77">
                                                        - - - - Chargers
                                                    </option>
                                                    <option value="78">
                                                        - - - - Bags &amp; Cases
                                                    </option>
                                                    <option value="79">
                                                        - - - - Electronic Cigarettes
                                                    </option>
                                                    <option value="70">
                                                        - - Audio &amp; Video
                                                    </option>
                                                    <option value="80">
                                                        - - - - Televisions
                                                    </option>
                                                    <option value="81">
                                                        - - - - TV Receivers
                                                    </option>
                                                    <option value="82">
                                                        - - - - Projectors
                                                    </option>
                                                    <option value="83">
                                                        - - - - Audio Amplifier Boards
                                                    </option>
                                                    <option value="84">
                                                        - - - - TV Sticks
                                                    </option>
                                                    <option value="71">
                                                        - - Camera &amp; Photo
                                                    </option>
                                                    <option value="85">
                                                        - - - - Digital Cameras
                                                    </option>
                                                    <option value="86">
                                                        - - - - Camcorders
                                                    </option>
                                                    <option value="87">
                                                        - - - - Camera Drones
                                                    </option>
                                                    <option value="88">
                                                        - - - - Action Cameras
                                                    </option>
                                                    <option value="89">
                                                        - - - - Photo Studio Supplies
                                                    </option>
                                                    <option value="72">
                                                        - - Portable Audio &amp; Video
                                                    </option>
                                                    <option value="90">
                                                        - - - - Headphones
                                                    </option>
                                                    <option value="91">
                                                        - - - - Speakers
                                                    </option>
                                                    <option value="92">
                                                        - - - - MP3 Players
                                                    </option>
                                                    <option value="93">
                                                        - - - - VR/AR Devices
                                                    </option>
                                                    <option value="94">
                                                        - - - - Microphones
                                                    </option>
                                                    <option value="73">
                                                        - - Smart Electronics
                                                    </option>
                                                    <option value="95">
                                                        - - - - Wearable Devices
                                                    </option>
                                                    <option value="96">
                                                        - - - - Smart Home Appliances
                                                    </option>
                                                    <option value="97">
                                                        - - - - Smart Remote Controls
                                                    </option>
                                                    <option value="98">
                                                        - - - - Smart Watches
                                                    </option>
                                                    <option value="99">
                                                        - - - - Smart Wristbands
                                                    </option>
                                                    <option value="74">
                                                        - - Video Games
                                                    </option>
                                                    <option value="100">
                                                        - - - - Handheld Game Players
                                                    </option>
                                                    <option value="101">
                                                        - - - - Game Controllers
                                                    </option>
                                                    <option value="102">
                                                        - - - - Joysticks
                                                    </option>
                                                    <option value="103">
                                                        - - - - Stickers
                                                    </option>
                                                </select>
                                            </div>
                                            <button type="submit"><i class="ion-ios-search-strong"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <!--Seach Area End -->
                                <!--Cart info Start -->
                                <div class="cart-info-wrap">
                                    <div class="cart-info d-flex home-9">
                                        <a href="compare.html" class="count-cart random d-xs-none"></a>
                                        <a href="wishlist.html" class="count-cart heart"></a>
                                        <div class="mini-cart-warp">
                                            <a href="#" class="count-cart"><span>$20.00</span></a>
                                            <div class="mini-cart-content">
                                                <ul>
                                                    <li class="single-shopping-cart">
                                                        <div class="shopping-cart-img">
                                                            <a href="single-product.html"><img alt="" src="/assets/images/product-image/mini-cart/1.jpg" /></a>
                                                            <span class="product-quantity">1x</span>
                                                        </div>
                                                        <div class="shopping-cart-title">
                                                            <h4><a href="single-product.html">Juicy Couture...</a></h4>
                                                            <span>$9.00</span>
                                                            <div class="shopping-cart-delete">
                                                                <a href="#"><i class="ion-android-cancel"></i></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="single-shopping-cart">
                                                        <div class="shopping-cart-img">
                                                            <a href="single-product.html"><img alt="" src="/assets/images/product-image/mini-cart/2.jpg" /></a>
                                                            <span class="product-quantity">1x</span>
                                                        </div>
                                                        <div class="shopping-cart-title">
                                                            <h4><a href="single-product.html">Water and Wind...</a></h4>
                                                            <span>$11.00</span>
                                                            <div class="shopping-cart-delete">
                                                                <a href="#"><i class="ion-android-cancel"></i></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="shopping-cart-total">
                                                    <h4>Subtotal : <span>$20.00</span></h4>
                                                    <h4>Shipping : <span>$7.00</span></h4>
                                                    <h4>Taxes : <span>$0.00</span></h4>
                                                    <h4 class="shop-total">Total : <span>$27.00</span></h4>
                                                </div>
                                                <div class="shopping-cart-btn text-center">
                                                    <a class="default-btn" href="checkout.html">checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Cart info End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Header Bottom Account End -->
            <!--Header Bottom Account End -->
        </header>
        <!-- Header End -->
        <div>
            @RenderBody()
        </div>
        @await Html.PartialAsync("_Footer")
    </div>
    <!-- Modal end -->
    <!-- Scripts to be loaded  -->
    <!-- JS
    ============================================ -->
    <!--====== Vendors js ======-->
    <script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Plugins js ======-->
    <!-- <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/meanmenu.js"></script>
    <script src="assets/js/plugins/owl-carousel.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.js"></script>
    <script src="assets/js/plugins/countdown.js"></script>
    <script src="assets/js/plugins/elevateZoom.js"></script>
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/range-script.js"></script> -->
    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

    <script src="/assets/js/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="/assets/js/main.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    @RenderSection("Scripts", required: false)
</body>
</html>