@model LoginViewModel
<div class="col-md-5 ml-xl-auto mr-md-auto mr-xl-0 mb-8 mb-md-0">
    <!-- Title -->
    <div class="border-bottom border-color-1 mb-6">
        <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">Login</h3>
    </div>
    <p class="text-gray-90 mb-4">Welcome back! Sign in to your account.</p>
    <!-- End Title -->
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="js-validate">
        <div asp-validation-summary="ModelOnly"></div>
        <!-- Form Group -->
        <div class="js-form-message form-group form-group mb-5">
            <label asp-for="Email" class="form-label">Username or Email address<span class="text-danger">*</span></label>
            <input asp-for="Email" class="form-control" placeholder="Username or Email address">
            <span asp-validation-for="Email"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group form-group mb-5">
            <label asp-for="Password" class="form-label">Password <span class="text-danger">*</span></label>
            <input asp-for="Password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <!-- End Form Group -->
        <!-- Checkbox -->
        <div class="js-form-message mb-4">
            <div class="custom-control custom-checkbox d-flex align-items-center">
                <input type="checkbox" class="custom-control-input" name="rememberCheckbox" id="rememberCheckbox">
                <label class="custom-control-label form-label" for="rememberCheckbox">
                    Beni Hatırla
                </label>
            </div>
        </div>
        <!-- End Checkbox -->
        <!-- Button -->
        <div class="mb-1">
            <div class="mb-3">
                <button type="submit" class="btn btn-primary-dark-w px-5">Login</button>
            </div>
            <div class="mb-2">
                <a class="text-blue" href="#">Lost your password?</a>
            </div>
        </div>
        <!-- End Button -->
    </form>
</div>